div#product-info-container {
        border: none;
}
div#product-info-container {
    padding-top: 10px;
}
.js_uom_reference_wrapper {
    padding-top: 1.5rem;
    margin-top: 1rem;
    border-top: 1px solid #ede9e9;
}